<@{
    ViewData["Title"] = "Manage Account";
}

<h2>Manage your account</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<ul>
    <li><a asp-action="ChangePassword">Change Password</a></li>
</ul>

